.navbar {
  background-color: #ec5056;
  width: 100%;
  transition: all 0.3s ease;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .max-width .logo {
  color: #ec5056;
  margin-left: 3rem;
}

.navbar .max-width .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .max-width .menu li span {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
  margin: 0rem 3rem 0 0;
}

.navbar .max-width .btn-menu {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.navbar .max-width .menu.active {
  left: -20px;
}
@media (max-width: 1104px) {
  .navbar .max-width {
    padding: 15px 50px;
  }
  .navbar .max-width .logo {
    margin-left: 0rem;
  }
  .navbar .max-width .menu {
    position: fixed;
    height: 100vh;
    width: 40%;
    left: -110%;
    top: 48px;
    background: #ec5056;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
    z-index: 100;
  }
  .navbar .max-width .menu li {
    display: block;
  }
  .navbar .max-width .menu li span {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .navbar .max-width .btn-menu {
    color: #fff;
    display: block;
    z-index: 999;
  }
}
