.card {
  word-wrap: break-word;
  border: 1px solid;
  margin: 2rem;
  width: 300px;
  min-height: 300px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: red;
  font-weight: 900;
  border-bottom: 1px solid;
  border-color: black;
  min-height: 40px;
}
.container_img img {
  margin-top: 10px;
  width: 80px;
}
