.card {
  word-wrap: break-word;
  border: 1px solid;
  margin: 1rem;

  width: 200px;
  height: 320px;
  border-radius: 20px;
  min-height: 300px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: red;
  font-weight: 900;
  border-bottom: 1px solid;
  border-color: black;
  min-height: 40px;
}
.container_img img {
  margin-top: 10px;
  width: 80px;
}
